body {
  background-color: #F7EDD4;
}

.btn {
  background-color: #FCBA12;
  color: #2E2FE3;
  border-style: none;
}

.btn:hover {
  background-color: #2E2FE3;
  color: #F7EDD4;
  border-style: none;
}

.background {
  background-color: #090934 !important;
}

.logout {
  background-color: #090934 !important;
  border-style: none;
}

.profile-header {
  background-color: #F7EDD4 !important;
  border-style: none;
}

.profile-text {
  color: #2E2FE3;
}

.text {
  color: #FCBA12;
}

img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/light.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.logout {
  color: grey;
}

/*********************************
Dashboard Polls
***********************************/
.poll-display {
  min-width: 100%;
  overflow-y: auto;
}

.poll-card {
  padding: 10px;
}

.poll-card-footer {
  display: flex;
  justify-content: space-between;
}

.invoice {
  display: block;
  margin: auto;
  overflow-wrap: break-word;
}

.delete-poll {
  margin-left: 10px;
}
