img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/light.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.logout {
  color: grey;
}

/*********************************
Dashboard Polls
***********************************/
.poll-display {
  min-width: 100%;
  overflow-y: auto;
}

.poll-card {
  padding: 10px;
}

.poll-card-footer {
  display: flex;
  justify-content: space-between;
}

.invoice {
  display: block;
  margin: auto;
  overflow-wrap: break-word;
}

.delete-poll {
  margin-left: 10px;
}
